@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {

	min-height:100%;

}
body {
	min-height:100%;
	height:100%;
	&.test-app{
		background: #ddd;
	}
}
@mainColor: #16B1D0;
.btn {
	cursor:pointer;
}
	.btn-primary {
		background:@mainColor;
		border-color:@mainColor;
		&:hover {
			color:#fff !important;
		}
	}
	

.container.margin_top {
	padding-top:20px;
}
.none {
	display:none;
}
#maps_chart {
	width:100%;
	height:300px;
	border:1px solid #ccc;
}


.button_preloader {
	
	background-image:url('/css/img/buttonPreloader.svg');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:25px;
}
#page_preloader {
	
	background-image:url('/css/img/preloader.svg');
	background-color:rgba(255,255,255,0.8);
	background-repeat: no-repeat;
	background-position: center center;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1000;
}
.chart {
	border:1px solid #efefef;
	width:100%;
	min-height:300px;
	background:transparent url('/css/img/preloader.svg') no-repeat center center;
	&.noData {
		background: none;
		&:before {
			content:'Žádné data upravte filtraci';
			position: absolute;
			top:100px;
			left:0;
			width:100%;
			color:#666;
			text-align: center;
		}
	}
}
.stats-table {
	width:100%;
	margin-bottom:30px;
	.text_right {
		text-align:right;
	}
}
#stats_load {
	&.preloader {
		min-height:150px;
		width:100%;
		background:transparent url('/css/img/preloader.svg') no-repeat center center; 
	}
	strong.title {
		margin:10px 0;
		display:block;
	}
}

#statsForm {
	.btn {
		width:100%;
	}
}

.centered {
	margin:10px 0;
	text-align:center;
}

.navigace {
	background:#fff;
	width:100%;
	list-style-type:none;
	top:0;
	left:0;
	margin:0;
	padding:0;
	z-index:1000;
	box-shadow: 0px 2px 5px #7f7c7cb8;
	text-align: center;
	li {
		margin:0 0 0 -5px;
		padding:0;
		display:inline-block;
		border-right:1px solid #ccc;
		
		span.disable {
			display:block;
			color:#efefef;
			padding: .5rem 8px;
		}

		a.nav-link {
			padding: .5rem 8px;
			color:silver;
			
		}
		&.nohover {
			border-right:0;
			
		}
		&.active,&:hover {
			&:not(.nohover){
				background:#16b1d0;
				a {
					color:#fff;
				}
			}
		}
	}
}
#show_menu {
	font-size:30px;
	position:fixed;
	top:5px;
	right:10px;
	z-index:3001;
}
@media (min-width : 600px) {
	.nomobile {
		display:none;
	}
}
.container.margin_top {
	margin-top:50px;
}
#map_area {
	#pac-container {
		width:500px;
		margin-bottom:10px;
	}
	.btn {
		margin:5px 0;
	}
	#maparea_canvas {width:80%;height:600px;border:1px solid #ccc;
		&.cestak {width:50%;}
	}
	#panel {
		width: 19%;
		margin-top:50px;
		float: right;
	}

	#color-palette {
	  clear: both;
	}

	.color-button {
		width: 14px;
		height: 14px;
		font-size: 0;
		margin: 2px;
		float: left;
		cursor: pointer;
	}
	#delete-button {
		margin-top: 5px;
	}
	#coords {width:89%;min-height:200px;overflow:scroll;border:1px solid #ccc;clear:both;padding:10px;}
	#win_name {}	
	#win_name_over {width:100%;height:100%;background:#000;opacity:0.5;position:fixed;top:0;left:0;z-index:100;}

	#win_name_inner {width:200px;min-height:50px;background:#fff;position:fixed;top:20%;left:0;right:0;margin:auto;z-index:101;padding:10px;
		.text{margin:10px auto;width:90%;height:20px;position:relative;display:block;}
	}
	
	
}
#cestak_list {width:100%;
	tr {
		td,th {	
			text-align:left;
			border-bottom:1px solid #ccc;padding:5px;
		}
	}
}
#cestak_panel {
	width:49%;float:right;
}


#topActions {
	margin:0 0px 20px 0;
	a {
		margin:2px 2px;
	}
}

#sum {
	background-color: #2AABD2;
	margin-top: 20px;
	padding: 8px 10px;
	line-height: 20px;
	border: 2px solid #1F8AA8;
	border-radius: .25rem;

	p {
		margin: 0;
		text-align: center;
	}

	.sec {
		color: #1A6B82;
	}

	.pri {
		color: white;
	}
}

#view-selected {
	white-space: normal;
	width: 70%;
	padding: 10px 0;
	background-color: #2FC44F;
	border: 2px solid #27A540;
	display: block;
	border-radius: 4px;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	margin: 20px auto 0 auto;
	transition: all 0.3s ease-in-out;
	animation: neon 1.5s ease-in-out infinite alternate;

	&:hover {
		background-color: #2CB745;
		transition: all 0.3s ease-in-out;
	}
}

@keyframes neon {
	0% { box-shadow: 0 0 -10px #FFF; }
	40% { box-shadow: 0 0 10px #FFF; }
	60% { box-shadow: 0 0 10px #FFF; }
	100% { box-shadow: 0 0 -10px #FFF; }
  }

#filtrations {
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
	.col {
		display: block;
		margin-bottom:4px;
		.form-control,.btn,select  {
			width: 100%;
			font-size:0.8rem;
			padding:3px;
			height:16px;
		}
		.btn {
			padding:3px 5px;
		}
	}
	.row{
		width: 100%;
		margin: 0;

		div {
			width: 100%;
			margin-bottom: 8px;
			text-align: center;

			&:nth-last-child(1) {
				margin-bottom: 15px;
			}

			input, select {
				height: 36px;
				line-height: 34px;
				font-size: 0.8em;
				box-sizing: border-box;
				border: 1px solid #1F8AA8;
				padding: 0 8px;
			}

			input[type=submit] {
				width: 70%;
				height: 40px;
				background-image: linear-gradient(45deg, #1f8aa8 25%, #25a3c6 25%, #25a3c6 50%, #1f8aa8 50%, #1f8aa8 75%, #25a3c6 75%, #25a3c6 100%);
				background-size: 39.60px 39.60px;
				border: 2px solid #1f8aa8;
				color: white;
				letter-spacing: 2px;
				transition: all 0.3s ease-in-out;
				margin: 0 auto;

				&:hover {
					border: 2px solid white;
				}
			}
		}
	}
}



#tableItems {

	.fa {
		margin:2px 3px;
		padding:3px;
		color:#000;
		vertical-align:middle;
		font-size:12px;
		&.btn-danger {
			background: transparent;
		}
		&.green{
			color: #3fb15c;
		}
		&.red{
			color: #c94343;
		}
		&.purple{
			color: #a1266a;
		}
		&.grey{
			color: rgb(134, 133, 133);
		}
	}
	.btn {
		margin-bottom:2px; 
	}
	tr.summary-row td{
		font-weight: bold;
		font-size: 0.9rem;
		padding-top: 5px !important;
	}
	tr{
		td, th{
			&.lined-top{
				border-top: 1px dashed #c94343;
			}
			&.lined-right{
				border-right: 1px dashed #c94343;
			}
			&.lined-left{
				border-left: 1px dashed #c94343;
			}
			&.lined-all{
				border: 1px dashed #c94343;
			}
			&.bg-blue{
				background-color: #bedfff;
			}
			&.bg-green{
				background-color: #adfdc2;
			}
		}
	}
}
#fst_history {
	margin-top:10px;
}
.table-responsive {
	.btn {
		margin:0 2px;
	}
}


.pagination{
    list-style: none;
	border-top:1px solid #ccc;
	padding:4px;
	text-align:center;
    li, span{
        display:inline-block;
		padding:0 3px;
		vertical-align:top;
		line-height:13px;
		
		.fa {
			line-height:12px;
			vertical-align:middle;
			height:13px;
			margin:0;
			top:-4px;
			position:relative;
		}
		&.active {
			/*font-weight:bold;*/
			a {
				color:#000;
				text-decoration:none;
			}
		}
		&.prev {
			position:absolute;
			left:5%;
			padding:0;
		}
		&.next {
			position:absolute;
			right:5%;
			padding:0;
		}
		a {
		}
    }

    span.counter{
        margin: 0px auto;
		
    }
	span {
		&.fa::before {
			font-size:13px;
		}	
	}
}


.fileList {
	list-style-type:none;
	width:100%;
	margin-top:5px;
	padding:0 5px 0 5px;
	li {
		height:35px;
		margin:0;
		border-bottom:1px solid #efefef;
	}
	.fa {
		&.fa-close {
			float:right;
			cursor:pointer;
		}
	}
	input{
		&.text {
			border:1px solid #ccc;
			float:right;
			
		}
	}
}

#messages {
	.message {
		border-bottom:1px solid #efefef;
		padding:10px 10px;
		
		&.odd {
			background:#efefef;
		}
		&:hover {
			background:#B6EDF1;
		}
	}
}

#product_connected {
	margin:10px;
	li {
		display: flex;
		margin:2px 0;
		padding:3px 0;
		border-bottom:1px solid #efefef;
		span {
			width:70%;
			display:inline-block;
		}
		input {
			display:inline-block;
			vertical-align:middle;
		}
		input.ks {
			width:80px;
			display:inline-block;
			margin:0 10px ;
		}
	}
}

#loggedUser {
	float:right;
	margin:4px 4px 0 0;
	line-height:24px;
}

.custom-switch {
	display:inline-block;
	position:relative;
	margin:0;
	vertical-align:middle;
	position:relative;
	top:-4px;
	span {
		vertical-align:middle;
		position:relative;
		top:-6px;
		font-size:11px;
	}
}
.custom-switch .custom-switch-input + .custom-switch-btn {
	height:30px;
	top:4px;
	position:relative;
	background:#fff;
	border:1px solid #ccc;
	width:55px;
}
.custom-switch .custom-switch-input + .custom-switch-btn::after, .custom-switch .custom-switch-input + .custom-switch-btn::before { 
	height:21px;
	width:23px;
	background:#666;
}
.custom-switch .custom-switch-input:checked + .custom-switch-btn::after { 
	left:23px;
}
.no_mobile {
	display:none;
	width:100%;
	background:#ff0000;
	color:#fff;
	text-align:center;
}
@media only screen and (max-width: 500px) {
	.hideMobile {
		display:none;
	}
	#map_area {
		display:none;
	}
	.no_mobile {
		display:block;
	}
	.datepicker_vista .days .week .day {
		font-size:15px;
	}
	#product_connected {
		margin:0;
		padding:0;
	}
}

.list-group-item-own{
	border: none;
	list-style: decimal inside !important;
	.list-group-item{
		border: none !important;
		display: list-item !important;
	}
	a{
		color: #000 !important;
		padding: 5px;
		border-bottom: 1px solid #2aabd2;
	}
	.second-l{
		margin: 10px 0px !important;
	}
	.third-l{
		margin: 10px 0px 0px 0px !important;
	}
}
.colaps{
	display: inline-block;
	cursor: pointer;
	color: #16b1d0 !important;
	font-weight: bold;
}
.none{
	display: none;
}

.navigace{
	li {
		position:relative;

		ul {
			display: none;
			position: absolute;
			left: 0;
			background: #000;
			padding-left: 0;
		}
	}

	li:hover {
		ul {
			display: none;
		}
	}
}
/*table*/

table{
	tr{
		th,td{
			padding: 0px 5px!important;
			vertical-align: middle !important;
		}
	}
}

div.order-extract {
	min-width: 400px;
	max-width: 400px;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.03);
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
	margin: 0 auto 20px auto;

	&.wrap {
		min-width: auto;
	}

	table {
		width: 100%;
		font-family: "Consolas", monospace;
		line-height: 16px;

		tr {
			&.red {
				color: #FF5656;
			}

			th, td {
				vertical-align: top !important;
			
				strong{
					display: inline-block;
					border: 0px;
					cursor: help;
					&.red{
						color: #c94343;
					}
					&.purple{
						color: #a1266a;
					}
				}
	
				&:nth-of-type(1) {
					white-space: normal;
				}

				&:nth-of-type(2) {
					white-space: nowrap;
				}

				&:nth-of-type(3) {
					width: auto;
				}

				&.left {
					text-align: left;
				}

				&.center {
					text-align: center;
				}

				&.right {
					text-align: right;
				}

				&.bold {
					font-weight: bold;
				}

				&.big {
					font-size: 20px;
				}

				&.break-up {
					padding-top: 16px !important;
				}

				&.break-down {
					padding-bottom: 16px !important;
				}

				&:nth-of-type(4), &:nth-of-type(5) {
					min-width: 90px;
				}

				span {
					width: 40px;
					display: block;
					line-height: 16px;
					padding: 2px 0;
					text-align: center;
					color: #FFFFFF;
					border-radius: 3px;
					box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
					float: right;

					&.ano {
						background-color: #FF5656;
					}

					&.ne {
						background-color: #54DD56;
					}
				}

				span.delivery {
					&.ano {
						background-color: #AC00E0;
					}

					&.ne {
						background-color: #54DD56;
					}
				}

				img {
					mix-blend-mode: multiply;

					&.logo {
						width: 140px;
					}
				}
			}
		}
	}

	input.print {
		height: auto !important;
		line-height: auto !important;
		padding: 6px 0 !important;
		margin-left: calc(50%-22%);
		width: 44%;
		font-size: 14px;
		margin-top: 20px;
		border-radius: 3px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		letter-spacing: 1px;
		background-color: #16b1d0;

		&:hover {
			background-color: #149CB7;
			border-color: transparent !important;
		}

		&:active {
			background-color: #149CB7 !important;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
			border-color: transparent !important;
		}
	}
}

/*sidebar*/
.side-bar{
	border-right: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	background: #2aabd2;
}
.side-bar-items{
	padding: 15px 0 15px 0;
	margin: 0;
	border-top: 4px solid #1F8AA8;
	li{
		list-style-type: none;
		&:hover {
			background-color: rgba(255, 255, 255, 0.1);

		}
		&.active {
			background-color: #1F8AA8;
			
			a {
				color: #9DDBEA;
			}
		}
		a {
			display:block;
			text-decoration: none;
			color: #fff;
			padding: 3px 8px;
			transition: all 0.3s;

			&:hover {
				padding: 3px 8px 3px 16px;
				transition: all 0.3s;
			}
		}
	}
}

.margin-top{
	margin-top: 15px;
}

/*tabs bar */
.tabs-ul{
	color: #000;
    margin-bottom: 20px;
    li{
        margin-right: 10px;
		padding: 10px;
		border: 1px solid #2aabd2;
		border-radius: 10px;
		background: transparent;
		color: #c0cbdb;
		&.active{
			 border: 1px solid #2aabd2;
			 border-radius: 10px;
			 background: #2aabd2;
			 color: white;
		 }
	}

	&.stocks {
		margin: 15px 0;

		li {
			width: 100%;
			border-radius: 0;
			padding: 3px 8px;
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
				padding: 3px 8px 3px 16px;
				transition: all 0.3s;
			}

			&.active {
				background-color: #1F8AA8;
				color: #9DDBEA;
			}
		}
	}
}
.total-tab{
	border: 1px solid #2aabd2;
	padding: 25px;
	border-radius: 25px;
}
.slr,.sll{
	max-width: 400px;
	background: #2aabd2;
	margin: 0 auto;
	padding: 25px;
	border-radius: 15px;
	color: white;
	font-weight: bold;
}

/*table*/
#tableItems{
	font-size: 11px !important;
	
}

/*kategorie produktu*/
.checkbox {
	margin:0 3px;
}
#menu_items{
	max-height:700px;
	overflow-y: scroll;
	li{
    	width:100%;
		display:block !important;
		border-bottom:1px solid #efefef;
		padding:2px 0;
		&:hover {
			background: #efefef;
		}
		&.active {
			background: #78ceed70;
		}
		div.input{
			display: inline-block;
			margin:0 2px;
			&.checkbox{
				width: auto !important;
			}
		}
		.price,.pref {
			width:100px !important;
		}
		label {
			width:300px !important;
		}
		.checkbox {
			width:25px !important;
		}
		
	}
}

fieldset {
	border-top: 1px solid #EAEAEA;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-bottom: 2px solid #EAEAEA;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	padding: 4px;
	margin: 0;

	legend {
		/*display: none;*/
		border: 1px solid #EAEAEA;
		border-radius: 3px;
		background-color: white;
		color: #2AABD2;
		font-weight: bold;
		width: auto;
		font-size: 1rem;
		padding: 5px;

		a {
			font-weight:normal;
			margin-left:10px;
			text-decoration:underline;
		}
	}

	button[type=button] {
		margin-top: 10px;
	}

	&.stocks {
		label {
			color: #898989;
			font-size: 13px;
			margin: 0;
		}

		input, select {
			font-size: 13px;
			height: auto !important;
			line-height: 19px;
			padding: 2px 6px;
			border-radius: 3px;
			box-sizing: border-box;

			&:focus {
				border-color: #C2D8EF;
				box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.2);
			}
		}

		select {
			
			&.smallheight {
				height: 100px !important;
			}

			&.bigheight {
				height: 256px !important;
			}
		}
	}
}

div.stocks {
	border-top: 1px solid #EAEAEA;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-bottom: 2px solid #EAEAEA;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	table {
		font-size: 13px;
		padding: 0;
		margin: 0;
	
		tr {
			&:nth-of-type(odd) {
				background-color: rgba(0, 0, 0, 0.02);
			}

			th, td {
				border: none;
			}
	
			th {
				font-weight: 400;
				padding: 10px 4px !important;
				border-bottom: 2px solid #EAEAEA;
				color: #898989;
			}

			td {
				color: #B5B5B5;

				input[type=button] {
					padding: 0 2px !important;
					line-height: 16px !important;
					margin-bottom: 2px !important;
				}
			}
		}

		thead {
			tr {
				background-color: transparent !important;
			}
		}

		tfoot {
			tr {
				border-top: 2px solid #EAEAEA;
				background-color: transparent !important;

				td {
					color: #898989;
					font-weight: bold;
				}
			}
		}
	}
}

div.stocks-add {
	button[type=button] {
		width: 100%;
		margin-bottom: 10px;
	}
}

div.stocks-buttons {
	text-align: right;
	margin-bottom: 10px;

	button {
		margin-left: 10px;
	}
}

#FormLogin {
	margin:15px auto;
}

#total_result {
	font-size:0.8rem;
}


.maxOverflow {
	max-height:700px;
	overflow-x:hidden;
	overflow-y:auto;
	display:block;
}
.checkbox {
	label {
		width:100%;
	}
	input.checkbox {
		width:30px;
		display:inline-block;
	}
}
.price_list {
	padding-bottom:10px;
}
.fullHeight {
	height:100%;
}
.fullHeight2 {
	height:calc(~"100% - 40px");
}

div.branches {
	width: 100%;
	height: 15px;
	border-top: 4px solid #1F8AA8;
}

h2.branches {
	color: #EAF7F9;
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 1px;
	border: 4px solid #1F8AA8;
	width: 80px;
	text-align: center;
	line-height: 20px;
	position: relative;
}

#branches_list_foo {
	position: relative;
	padding-left: 32px;
	width: 100%;
	margin: 0;
	
	list-style-type: none;

	& > li:last-child:after {
		height: 8px;
	}
	
	li {
		padding: 0 3px;
		margin: 0;
		position: relative;
		padding-bottom: 4px;

		&::before, &::after {
			content: "";
			position: absolute;
			left: -12px;
		}

		&::before {
			border-top: 2px solid #1F8AA8;
			top: 14px;
			width: 18px;
			height: 0;
		}

		&::after {
			border-left: 2px solid #1F8AA8;
			height: 100%;
			width: 0px;
			top: 6px;
		}

		&:nth-of-type(1):after {
			top: -10px;
			height: 48px;
		}

		a {
			color: #fff;
		}
		/*label {
			margin: 0;
			color: #fff;
			font-size: 0.8rem;
		}
		input.checkbox {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}*/

		.input.checkbox {
			width: 28px;
			height: 28px;
			position: relative;
			border: 4px solid #1F8AA8;

			label {
			  width: 160px;
			  height: 20px;
			  position: absolute;
			  top: 0px;
			  left: 0px;
			  cursor: pointer;
			  padding-left: 30px;
			  line-height: 20px;
			  font-size: 14px;
			  color: #166277;

			  &:after {
				content: '';
				width: 16px;
				height: 16px;
				position: absolute;
				top: 2px;
				left: 2px;
				background: white;
				background: linear-gradient(top, white 0%, white 100%);
				opacity: 0;
			  }

			  &:hover::after {
				opacity: 0.3;
			  }
			}

			input[type=checkbox] {
				visibility: hidden;  

				&:checked + label {
					color: #C7DDE2;
				}

				&:checked + label:after {
					opacity: 1;
				}				
			  }
		}
	}
}
/*tree*/

#tree_menu{
	margin-bottom: 80px;
	li{
		border:0px solid #2babd2;
		list-style-type:none;
		padding:3px 10px;
		background: #fff !important;
		border-radius:0px;
		
		&:hover{
			background: #2babd230 !important;
			color:#fff !important;
			border: 0px solid #fff;
			text-decoration: none;
		}
		span{
			cursor:Pointer;
			&:hover {
				font-weight:bold;
			}
		}
		.delete_button {
			cursor:Pointer;
		}
		a{
			padding: 5px;
			color: #d03b3b;
		}

		ul{
			li{
				span{

				}
				a{

				}
			}
		}
	}
}


.buttons {
	position:fixed;
	background:#fff;
	bottom:0;
	width:80%;
	margin:0;
	padding:3px 0;
}
#logo {
	position: absolute;
	top:2px;
	left:2px;
	width:100px;
	height:35px;
	background: transparent url('/css/img/logo.png') no-repeat center center;
	z-index: 3005;
	background-size: contain;
}
#login_logo {
	background: transparent url('/css/img/logo.png') no-repeat center center;
	width:200px;
	height:100px;
	background-size: contain;
	margin:auto;
	position: relative;
	span {
		position:absolute;
		bottom:-9px;
		right:15px;
		color:#4F372B;
		font-weight:bold;
	}


}

.top-statistics{
    height: 260px;
    background: #ffffff none repeat scroll 0 0;
    margin: 30px 0 0px 0;
    padding: 20px;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;

	

	.media{

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; 
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		i{
			font-size: 45px;
		}
		.right-media{
			display: block;
			text-align: right;
			width: 80%;
		}
	}
}
.red{
	color: #fc6180;
}
.yellow{
	color: #ffb64d;
}
.green{
	color: #26dad2;
}
.blue{
	color: #4680ff;
}

.middle-statistics{
	background: #ffffff none repeat scroll 0 0;
    margin: 25px 0;
    padding: 20px;
    border: 0 solid #e7e7e7;
    border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.05);
	label{
		margin-bottom:5px !important;
	}
	.own-scroll{
		overflow: scroll;
		max-height: 250px;
	}
}


.tableContainer {
	position: relative;
	.tableHeader {
		height:20px;
		background:#efefef;
	}
	.tableWraper {
		
		border:0px solid red;
		height:300px;
		overflow-x: none;
		overflow-y: scroll;
		display:block;
	}
	.wrap {
		/*position: absolute;
		top:5px;*/
	}
	.right {
		text-align: right;
	}
	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
}

#gen-stats{
	font-size: 10px;
    /* margin: 0px; */
	/* padding: 0px; */
		td{
			padding: C5px 5px!important;
			vertical-align: middle !important;
			&.price {
				width:80px;
			}
			&.count {
				width:30px;
			}
			&.id {
				width: 40px;
			}
			&.right {
				text-align: right;
			}
			&.left {
				text-align: left;
			}
			&.center {
				text-align: center;
			}
		}
}

.changeDate {
	position:fixed;
	box-shadow: 3px 3px 10px #ccc;
	top:50px;
	background: #fff;
	padding:5px;
	border:1px solid #efefef;
	z-index: 1000;
	right:3%;
	width:212px;

	input {
		width: 85px;
		margin: 0;
	}
}



/*GRAF*/
.m-t{
	margin-top: 10px;
}
.chart{
	border: none !important;
	margin-top:40px;
}

.branches-sum{

    font-size: 12px;
}
.branches-price{
	position:relative;
	top:-5px;
	font-size: 12px;
	font-weight: bold;
}
.branches_pob{
	display: block;
}


.onlymobile {
	display:none;
}
@media (min-width : 300px) and (max-width : 600px) {
	.mobileTopMargin {
		padding-top:100px;
	}
	.onlymobile {
		display:block;
	}
	#logo {
		position:fixed;
		top:5px;
	}
	.tabs-ul li {
		font-size:0.8rem;
	}
	.nomobile {
		display:none;
	}
	.pagination {
		.prev,.next {
			display:none;
		}
	}
	#side-bar {
		margin-top:50px;
	}
	#navigace {
		display:block;
		z-index:99;
		min-height:45px;
		position:fixed;
		z-index: 3000;
		li {
			display:none;
		}
		
		&.open {
			padding-top:50px;
			padding-bottom:5px;
			li {
				display:block;
			
			}
		}
	}
}

.drobeckova-nav{
	margin-bottom: 15px;
	a{
		color: #2aabd2 !important;
	}
}

tr.storno td{
	color: #d03b3b;
}

tr.delivery td {
	color: #AC00E0;
}

tr.employee td {
	color: #F77F00;
}

tr.company td {
	color: #27C449;
}

.input_row{
	margin-top: 10px;
}

div.custom-web-order {
	background-color: #F0F4F5;
	border: 1px solid #F4F8F9;
	border-radius: 8px;
	padding: 14px 0;

	span.header {
		display: block;
		padding: 8px 0 0 0;
		margin: 0 0 8px 0;
	}

	label {
		padding: 8px 0 0 0;
	}

	input, select {
		border: 1px solid #E5E9EA;
	}

	div.inventory {
		background-color: #e9ecef;
		border: 1px solid #E5E9EA;
		border-radius: .25rem;
		padding: 6px;

		div.item {
			font-size: 12px;
			display: inline-block;
			vertical-align: top;
			width: 25%;
			padding-top: 25%;
			background-image: url('/css/img/cake-slice.png');
			background-size: 70%;
			background-repeat: no-repeat;
			background-position: center top 14px;

			span {
				display: block;
				text-align: center;
			}
		}
	}

	div.history {
		textarea {
			background-color: #e9ecef;
			border: 1px solid #E5E9EA;
			height: 398px;
			resize: none;

			&:focus {
				box-shadow: none;
			}
		}
	}
}

div.workshop-filtration {
	margin: 10px 0 40px 0;

	div.col-lg-9 {
		padding-left: 0;

		div.workshop-filtration-input {
			width: 100%;
			border: 1px solid #F0F4F5;
			border-radius: 6px;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
			padding: 2px;
		}
	}

	div.col-lg-3 {
		padding-right: 0;

		button.btn, input[type=submit] {
			width: 100%;
			line-height: 30px;
			border: none;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);
			background: rgb(131,58,180);
			background: linear-gradient(225deg, rgba(131,58,180,1) 0%, rgba(69,252,250,1) 100%);
			letter-spacing: 1px;
			color: white;
		}
	}
}

div.workshop-order-header {
	table {
		width: 100%;
		font-size: 0;
		padding: 0;
		margin: 0;

		tr {
			td {
				height: 50px;
				text-align: center;
				font-size: 14px;
				font-weight: bold;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;

				&.eshop {
					background-color: rgba(0, 255, 0, 0.1);
				}

				&.employee {
					background-color: rgba(150, 0, 255, 0.1);
				}
			}
		}
	}
}

div.workshop, div.workshop-order {
	width: 100%;
	border: 1px solid #F0F4F5;
	border-radius: 6px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.18);

	table {
		background-color: transparent;
		border-collapse: collapse;
		width: 100%;
		border-radius: 8px;

		tr {
			&:nth-of-type(even) {
				background-color: rgba(0, 0, 0, 0.03);
			}

			th {
				height: 50px;
				border-bottom: 2px solid #F0F4F5;

				&.center {
					text-align: center;
				}

				&.eshop {
					background-color: rgba(0, 255, 0, 0.1);
				}

				&.employee {
					background-color: rgba(150, 0, 255, 0.1);
				}
			}

			td {
				&.center {
					text-align: center;
				}

				&.eshop {
					background-color: rgba(0, 255, 0, 0.04);
				}

				&.employee {
					background-color: rgba(150, 0, 255, 0.04);
				}

				&:nth-of-type(1) {
					letter-spacing: 1px;
				}

				div.input {
					padding: 0;

					input {
						height: 20px;
						font-size: 12px;
						padding-left: 4px;
						padding-right: 4px;
	
						&:focus {
							box-shadow: none;
						}
					}
				}
			}
		}
	}
}

div.workshop-order {
	font-size: 14px;
}

.nav-link{
	color: #fff;

	&.active{
		color: #2aabd2;
		font-weight: bold;
	}
	&:hover{
		color: #2aabd2;
	}
}

.navbar-light{
	.nav-link{
		color: #ddd;
		&.active{
			color: #fff;
			font-weight: bold;
		}
	}
}
.versionInfo {
	position: absolute;
	top: 20px;
	left: 80px;
	z-index: 1000;
	font-size: 10px;
	color: #666;
}