/* #tree_menu {
    height:100%;
    overflow-x: none;
    overflow-y: auto;
} */

.topPagination {
    position: absolute;
    top:10px;
    right:3%;
    border:0px solid red;
    z-index: 100;
    .pagination {
        border:0;
    }
}
.lastUpdateContainer {
    margin-right: 10px;
    display: inline-block;
    float: right;

    div {
        button {
            height: 31px;
            line-height: 20px;
            margin-top: 4px;
            font-size: .875rem;
        }
    }
}

.lastUpdateDate {
    margin-right: 14px;
    display: inline-block;
    float: right;

    p {
        line-height: 20px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #7A7A7A;
    }
}

#stocksMirrorFunction {
    background: #ffffff;
    padding:10px;
    li {
        list-style-type:none;
        border-bottom:1px solid #ccc;
        padding:5px;
        margin:5px;
        .num {
            /* float:left; */
            padding:5px 10px 10px 2px;
            
        }
        .btn {
            width:100%;
            word-wrap: break-word;
            white-space: normal;
            margin-bottom:2px;
            font-size: 14px;
        }
    }
}
#mirroOverTable {
    height: 310px;
    overflow-x: none;
    overflow-x: auto;
    /*padding-bottom: 50px;*/
    /*margin-bottom: 50px;*/
}
#stocksMirrorTableHeader {
    width:100%;
    tr {
        &.diff {
            td {
                background:#ff0000;
                color:#fff;
            }
        }
        th,td {
            font-size:0.6rem;
            &.text_right {
                text-align: right;
            }
            input {
                padding:3px;
                margin:2px;
                height:20px;
                font-size:0.7rem;
                &.change_real {
                    text-align: right;
                } 
                
            }
         
        }
    }
}
#stocksMirrorTable {
    width:100%;
    margin:10px 0;
    tr {
        &.diff {
            td {
                background:#ff0000;
                color:#fff;
            }
        }
        th,td {
            font-size:0.7rem;
            &.text_right {
                text-align: right;
            }
            input {
                padding:3px;
                margin:2px;
                height:20px;
                font-size:0.7rem;
                &.change_real {
                    text-align: right;
                } 
                
            }
         
        }
    }
}