<fieldset>
	<legend><?php echo __("Přívlastky produktu")?></legend>
	<?php 
	if (isset($privlastky_list) && count($privlastky_list)>0){ 
		echo '<div class="row">';
			
		foreach($privlastky_list AS $kgroup=>$group){
			//echo '<div class="col col-6">';
			echo '<div class="col col-12 col-md-6">';
				
			echo '<fieldset class="checkbox_list">';
			echo '<legend>'.$addon_list[$kgroup];
				echo $this->Html->link(__('Vybrat vše'),'#',array('title'=>__('Vybrat vše'),'class'=>'select_all_fieldset'),null,false);
			echo '</legend>';
			echo '<div class="row">';
			foreach($group AS $k=>$p){
				echo '<div class="col col-12 col-md-6">';
				echo $this->Form->input('addon_list.addon_id.'.$p->id,array('label'=>$p->name,'type'=>'checkbox','class'=>'checkbox','checked'=>(isset($addon_list_load) && in_array($p->id,$addon_list_load)?true:false)));
				echo '</div>';
			}
			echo '</div>';	
			echo '</fieldset>';
			//echo '</div>';
			echo '</div>';	
			
		}
		echo '</div>';	
			
		
	}
	?>
</fieldset>
