/* Tree CSS */
ul.tree, ul.tree li, ul.tree ul {
	position: relative;
	cursor: pointer;
	zoom: 1;
}

ul.tree li, li.drag, li.drag ul li  {
	margin: 0;
	line-height: 20px;
	list-style-type: decimal;
	color: black;
}

ul.tree, ul.tree ul, li.drag ul {
	margin: 0;
	padding: 0 0 0 30px;
}

ul.tree li span, li.drag span {
	color: #111;
	/*display: block;*/
}

ul.tree li {
	list-style-type: decimal;
	padding-left: 0px;
	line-height: 18px;
	margin: 3px 0;
	
	cursor:move;
	
}
ul.tree li span.active_content {background:#EBEBEB;}
ul.tree li span {border-bottom:0px solid #fff;}
/*ul.tree li span:hover {border-bottom:1px solid #ccc;}
ul.tree li.tree_inactive span{color:#ccc;}*/
ul.tree li.tree_showmenu span{font-style:italic;}

ul.tree li.nodrop {
	background-image: url(../Assets/Blocked.png);
}

ul.tree li.nodrop span {
	color: #800;
}

ul.tree li.nodrag span {
	color: #999;
}

div.treeIndicator {
	margin: 0;
	position: absolute;
	width: 100px;
	height: 1px;
	background-color: #000;
	/*border-top: 1px solid #999;
	border-bottom: 1px solid #999;*/
	z-index: 50;

	/* For IE */
	overflow: hidden;
	line-height: 1px;
}

li.drag {
	position: absolute;
	z-index: 50;
}

li.drag span.dispose {
	display: none;
}

span.dispose {
	float: right;
	color: #800;
}


ul.collapse {
	margin: 0;
	padding: 0 0 0 30px;
}

ul.licollapsest ul {
	margin: 0;
	padding: 0 0 0 10px;
}

ul.collapse li {
	list-style-type: decimal;
	padding: 0;
	line-height: 18px;
	margin: 3px 0;
	background: none;
}

ul.collapse span {
	cursor: move;
	color: #5e5e5e;
	display: block;
	text-decoration: none;
}

ul.collapse a.expand {
	outline: 0;
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	background-image: url(/js/tree2/Expand.png);
	background-image: url(../Assets/Expand.png);
	background-position: 0 2px;
}

ul.collapse a.collapse {
	background-image: url(/js/tree2/Collapse.png);
	background-image: url(../Assets/Collapse.png);
}


	#contextmenu	{ border:1px solid #999; padding:0; background:#eee; width:200px; list-style-type:decimal; display:none; }
		#contextmenu .separator	{ border-top:1px solid #999; }
		#contextmenu li	{ margin:0; padding:0; }
		#contextmenu li a { display:block; padding:5px 10px 5px 35px; width:155px; font-size:12px;line-height:20px; text-decoration:none; color:#000; background-position:8px 8px; background-repeat:no-repeat; }
		#contextmenu li a:hover	{ background-color:#ddd; }
		#contextmenu li a.disabled { color:#ccc; font-style:italic; }
		#contextmenu li a.disabled:hover { background-color:#eee; }
