<?= $this->Html->script('jquery/jquery.min.js'); ?>
<?= $this->Html->script('jquery-ui/jquery-ui.min.js'); ?>
<?= $this->Html->script('bootstrap/js/bootstrap.js'); ?>
<?= $this->Html->script('bootstrap3-dialog/js/bootstrap-dialog.js'); ?>
<?= $this->Html->script('bootstrap3-dialog/js/bootstrap-dialog.js'); ?>
<script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
<?= $this->Html->script('angular/angular.min.js'); ?>
<?= $this->Html->script('angular/angular-route.min.js'); ?>
<?= $this->Html->script('angular/angular-animate.min.js'); ?>
<?= $this->Html->script('angular/angular-messages.min.js'); ?>
<?= $this->Html->script('angucomplete/angucomplete.js'); ?>
<?= $this->Html->script('angular-ui-tree/angular-ui-tree.min.js'); ?>
<?= $this->Html->script('angular-drag/angular-drag-and-drop-lists.min.js'); ?>
<?= $this->Html->script('ckeditor/ckeditor.js'); ?>
<?= $this->Html->script('ckeditor/ng-ckeditor.js'); ?>
<?= $this->Html->script('tinymce/tinymce.min.js'); ?>

<?= $this->Html->script('tinymce/tinymce.js'); ?>
<?= $this->Html->script('angular-editor/javascripts/simditor/simditor-all.js'); ?>
<?= $this->Html->script('angular-editor/javascripts/angular-editor.js'); ?>
<?= $this->Html->script('angular_wysiwyg/bootstrap-colorpicker-module.js'); ?>
<?= $this->Html->script('angular_wysiwyg/angular-wysiwyg.js'); ?>
<?= $this->Html->script('angular/file-upload/ng-file-upload-shim'); ?>
<?= $this->Html->script('angular/file-upload/ng-file-upload'); ?>
<?= $this->Html->script('angular/multiselect-bubbles/isteven-multi-select'); ?>
<?= $this->Html->script('angular/ng-tags/ng-tags-input'); ?>
<?= $this->Html->script('bootstrap/js/ui-bootstrap-tpls-2.4.0.min'); ?>
<?= $this->Html->script('/plugins/pace/pace.min.js'); ?>
<?= $this->Html->script('/themes/js/app.min.js'); ?>




<?= $this->Html->script('angular/require.js', ['data-main'=>'webroot/angular/app_include_files']); ?>

<script type="text/javascript">
   /* $(function () {
        $('.datepicker').datetimepicker();
    });*/
</script>

